.about {
    background-color: @darkBg;
    padding: 65px 0 144px;

    .wysiwyg {
        max-width: 930px;

        p {
            font-size: 60px;
            font-weight: 700;
            line-height: 1.2;
            margin: 0;
            color: @white;
            letter-spacing: -0.5px;

            span {
                color: @blue;
            }
        }
    }

    .btn {
        background-color: @blue;
        display: inline-block;
        color: @white;
        padding: 26px 33px;
        border-radius: 16px;
        margin: 55px 0 0;
        font-size: 17px;
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: 0.5px;
        text-align: center;
    }
}