.docs {
    background-color: @darkBg;
    padding: 138px 0 126px;
    position: relative;

    .block-title {
        max-width: 780px;
    }

    .img {
        position: absolute;
        top: 0;
        right: 0;
    }

    .items {
        display: flex;
        flex-wrap: wrap;
        margin: 55px 0 0;

        &__item {
            background-color: #38383D;
            border-radius: 16px;
            padding: 16px 48px;
            margin: 0 18px 18px 0;
            color: #DCDCDC;
            font-size: 20px;
            font-weight: 500;
            line-height: 1.6;
            letter-spacing: 0.15px;
        }
    }
}